<html xmlns:th="http://www.thymleaf/">
<head>
</head>
<body>
<h3>Welcome To Register Page</h3>
<form action = "#" method = "post" th:action ="@{/emps/save}" th:object ="${employee}">
     ID:<input type ="text" th:field ="*{empId}"><br>
     <br> First Name: <input type ="text" th:field="*{firstName}"><br>
     <br> Last Name: <input type ="text" th:field="*{lastName}"><br>
     <br> Email Id: <input type ="text" th:field="*{emailId}"><br>
     <br> <input type ="submit" value ="Create" />
</form>
</body></html>